<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.18.0.187838</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {756, 553}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2015-03-13 22:22:45 +0000</string>
	<key>Creator</key>
	<string>Raluca Ada Popa</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>AllowLabelDrop</key>
			<false/>
			<key>AllowToConnect</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>5365</integer>
			<key>Points</key>
			<array>
				<string>{262.1969835832715, 252}</string>
				<string>{324.34612339735031, 252.15731811523443}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<false/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>5366</integer>
			<key>Points</key>
			<array>
				<string>{350.34612337510902, 253}</string>
				<string>{400.34612274169922, 253}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>1.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>AllowLabelDrop</key>
			<false/>
			<key>AllowToConnect</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>5367</integer>
			<key>Points</key>
			<array>
				<string>{388.8472105726338, 270.17453002929688}</string>
				<string>{400.21527879819359, 262.85652548128007}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>1.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>5368</integer>
			<key>Points</key>
			<array>
				<string>{388.85832977294922, 236}</string>
				<string>{400.22639825436545, 242.79930839432751}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>1.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>Bounds</key>
			<string>{{400.37395540635902, 242.06660747528076}, {26, 19.784145883945818}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>5369</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.297329</string>
						<key>g</key>
						<string>0.612932</string>
						<key>r</key>
						<string>0.840103</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>AllowLabelDrop</key>
			<false/>
			<key>AllowToConnect</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>5370</integer>
			<key>Points</key>
			<array>
				<string>{425.68508870154619, 252}</string>
				<string>{493.834228515625, 252.15731811523443}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<false/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>AllowLabelDrop</key>
			<false/>
			<key>AllowToConnect</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>5375</integer>
			</dict>
			<key>ID</key>
			<integer>5371</integer>
			<key>Points</key>
			<array>
				<string>{351.17972452412744, 242.79215977407981}</string>
				<string>{362.40203595067379, 235.35595077488787}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>1.5</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>5372</integer>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>Bounds</key>
			<string>{{324.34612337510902, 242.06660747528076}, {26, 19.784145883945818}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>5372</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.297329</string>
						<key>g</key>
						<string>0.612932</string>
						<key>r</key>
						<string>0.840103</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>AllowLabelDrop</key>
			<false/>
			<key>AllowToConnect</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>Head</key>
			<dict>
				<key>ID</key>
				<integer>5374</integer>
			</dict>
			<key>ID</key>
			<integer>5373</integer>
			<key>Points</key>
			<array>
				<string>{351.15327325957736, 262.05718166912152}</string>
				<string>{361.96831857325895, 269.96726807747416}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>1.5</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>5372</integer>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>Bounds</key>
			<string>{{362.77544466417152, 270.17453289031982}, {26, 19.784145883945818}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>5374</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.297329</string>
						<key>g</key>
						<string>0.612932</string>
						<key>r</key>
						<string>0.840103</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>Bounds</key>
			<string>{{363.24135652940589, 216.50000286102295}, {26, 19.784145883945818}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>5375</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.297329</string>
						<key>g</key>
						<string>0.612932</string>
						<key>r</key>
						<string>0.840103</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>Bounds</key>
			<string>{{292.77545166015625, 171.75}, {174, 32}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>16</real>
			</dict>
			<key>ID</key>
			<integer>5376</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\deftab720
\pard\pardeftab720\qc

\f0\fs36 \cf0 Service provider}</string>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>Bounds</key>
			<string>{{323.77544280152637, 295.00000785291195}, {100, 29}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>14</real>
			</dict>
			<key>ID</key>
			<integer>5377</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\deftab720
\pard\pardeftab720\qc

\f0\fs32 \cf0 middleboxes}</string>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>Bounds</key>
			<string>{{302.77545992296058, 202.00000286102295}, {144, 104}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>5378</integer>
			<key>Shape</key>
			<string>Cloud</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.932559</string>
						<key>g</key>
						<string>0.571633</string>
						<key>r</key>
						<string>0.284341</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.882834</string>
						<key>g</key>
						<string>0.538061</string>
						<key>r</key>
						<string>0.273915</string>
					</dict>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>AllowLabelDrop</key>
			<false/>
			<key>AllowToConnect</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>5379</integer>
			<key>Points</key>
			<array>
				<string>{581, 251.81532287597656}</string>
				<string>{639, 252.15731811523443}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<false/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>Bounds</key>
			<string>{{503.83421325683594, 225.82467651367176}, {65.677999999999884, 29}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>5380</integer>
			<key>ImageID</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>Bounds</key>
			<string>{{501.2044677734375, 260.45867919921875}, {73, 19}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>9</real>
			</dict>
			<key>ID</key>
			<integer>5381</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red1\green1\blue1;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs32 \cf2 gateway 2}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>Bounds</key>
			<string>{{492.346435546875, 217.95867919921881}, {88.653564453125057, 72}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>5382</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.297329</string>
						<key>g</key>
						<string>0.612932</string>
						<key>r</key>
						<string>0.840103</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
					<key>ShadowVector</key>
					<string>{0, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>Bounds</key>
			<string>{{652.8389892578125, 241.28073283122791}, {30, 19.784145883945818}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>9</real>
			</dict>
			<key>ID</key>
			<integer>5383</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs32 \cf0 server}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>Bounds</key>
			<string>{{639, 230.64067553711322}, {58, 42.635999999998717}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>5384</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.297329</string>
						<key>g</key>
						<string>0.612932</string>
						<key>r</key>
						<string>0.840103</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>Bounds</key>
			<string>{{570.8389892578125, 171.75}, {108, 32}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>16</real>
			</dict>
			<key>ID</key>
			<integer>5385</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\deftab720
\pard\pardeftab720\qc

\f0\fs36 \cf0 Enterprise 2}</string>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>Bounds</key>
			<string>{{534, 171.75}, {174, 149.75}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>16</real>
			</dict>
			<key>ID</key>
			<integer>5386</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>8</real>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>Bounds</key>
			<string>{{184.69224548339844, 224.36599731445301}, {65.677999999999884, 29}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>5387</integer>
			<key>ImageID</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>Bounds</key>
			<string>{{182.0625, 259}, {73, 19}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>9</real>
			</dict>
			<key>ID</key>
			<integer>5388</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red1\green1\blue1;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs32 \cf2 gateway 1}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>Bounds</key>
			<string>{{173.20446777343744, 216.50000000000006}, {88.653564453125057, 72}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>5389</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.297329</string>
						<key>g</key>
						<string>0.612932</string>
						<key>r</key>
						<string>0.840103</string>
					</dict>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
					<key>ShadowVector</key>
					<string>{0, 2}</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>AllowLabelDrop</key>
			<false/>
			<key>AllowToConnect</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>5390</integer>
			<key>Points</key>
			<array>
				<string>{115.908935546875, 251.86599731445312}</string>
				<string>{173.908935546875, 252.20799255371099}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<false/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>Bounds</key>
			<string>{{73.2479248046875, 242.5040452091576}, {30, 19.784145883945818}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>9</real>
			</dict>
			<key>ID</key>
			<integer>5391</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs32 \cf0 client}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>Bounds</key>
			<string>{{63.408935546875, 230.86398791504291}, {51, 42.635999999998717}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>5392</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.297329</string>
						<key>g</key>
						<string>0.612932</string>
						<key>r</key>
						<string>0.840103</string>
					</dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>Bounds</key>
			<string>{{84.5, 171.75}, {108, 32}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>16</real>
			</dict>
			<key>ID</key>
			<integer>5393</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\deftab720
\pard\pardeftab720\qc

\f0\fs36 \cf0 Enterprise 1}</string>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>Bounds</key>
			<string>{{48, 171.75}, {174, 149.75}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>w</key>
					<string>0</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>16</real>
			</dict>
			<key>ID</key>
			<integer>5394</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>8</real>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>6</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image5.tiff</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2015-03-25 05:38:47 +0000</string>
	<key>Modifier</key>
	<string>Raluca Ada Popa</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSOrientation</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwGG</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{792, 612}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{8, 91}, {1670, 937}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-390, -122}, {1535, 798}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
